@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: #d9d9d9;
  background-color: #257FD2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1{
  font-size: 2rem;
  line-height: 1.5rem;
}
.page-container{
  width: 80vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container{
  position: relative;
  width: 100%;
  height: 3rem;
  z-index: 100;
}

.header-container h1{
  position: absolute;
  left: 2rem;
  bottom: -2px;
}

.header-container h3{
  position: absolute;
  right: 2rem;
  bottom: -8px;
}

.map-container{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  border: 4px solid #d9d9d9;
  box-shadow: 0 0 2rem #0f3355;
}